*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
            /* root variable creation */
:root{
    --color: white;
    --full:#f07e0b;
    --bgbun:rgb(97, 97, 97);
    --shadow: 4px 4px 8px 0  rgba(0, 0, 0, 0.2);
}
            /* Overall container */
.main_container{
    background-color: rgb(233, 233, 233);
    width:100%;
    padding:10px 5%;
}
.content{
    background-color: var(--color);
    padding:7px 10px;
}
.content h3{
    font-weight: 400;
    font-size: 29px;
}
    /* inside the two division card */
.saleCard{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 280px auto;
    gap: 20px;
}
.word{
    padding: 20px 0;
}
.collect{
    background-color: var(--color);
    padding: 15px;
    box-shadow: var(--shadow);
    width: 100%;
}
.collect li{
    list-style: none;
    width: fit-content;
    font-size: 23px;
    cursor: pointer;
    line-height: 1.8;
}
.best{
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}
.best h3{
    padding-bottom: 13px;
}
.best .cart{
    text-decoration:underline;
}
.from{
    font-size: 17px;
}
.best del{
    color: var(--bgbun);
    font-size: 15px;
}
.best img{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.best img:hover{
    background-color: silver;
}
.change{
    color: var(--full);
}
.collect li:hover,.paint:hover{
    color:var(--full);
    cursor: pointer;
}
/* .title{
    display: flex; */
    /* justify-content: center; */
    /* align-items: start; */
    /* font-size: 40px;

} */
.content1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size:25px ;
    padding-top: 80px;
    padding-bottom: 30px;
    font-weight:bold;
    border-bottom:2px solid rgba(0,0,0,.2);
   
}
.content2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    
    padding-bottom: 15px;

}
.content3{
    border-bottom:2px solid rgba(0,0,0,.2);
    text-align: center;
    padding-bottom: 10px;
    font-weight:bold;
    font-size: 25px;

}
.choice{
    color:#f07e0b;
}
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
}
.events,.delivery,.products{
    text-align: center;
}
.choice{
    color:#f07e0b;
    font-size: 18px;  
    font-weight: bold;

}
.choice~p{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
}
.delivery1{
color:#f07e0b;
font-size: 18px;
font-weight: bold;
}
.delivery1~p{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
}
.quality{
    color:#f07e0b;
    font-size: 18px;
    font-weight: bold;

}
.quality~p{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
}