*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 18px Merriweather Sans,sans-serif;
    }

    @import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

            /* root variable creation */
:root{
    --color: white;
    --full:#f07e0b;
    --bgbun:rgb(97, 97, 97);
    --shadow: 4px 4px 8px 0  rgba(0, 0, 0, 0.2);
    --heding-font:'Just Another Hand', cursive;
}
.overall-container{
    background-color: rgb(233, 233, 233);
    /* min-height: 500px; */
    padding: 30px 50px;
}
.page_info_content {
    margin: 20px 0;
}
.page_info_content h3{
    min-height: 50px;
    padding: 10px;
    background-color: var(--color);
    font-size: 1.3rem;

}
.blog_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.serach_blog{
    width: 400px;
    
}
.serach_blog input{
    height: 35px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: unset;
}
.serach_blog>input~i{
    height: 35px;
    width: 40px;
    background: var(--full);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -35px;
    left: 90%;
}
.serach_blog>input~i:hover{
    background-color: black;
    cursor: pointer;
}
.serach_blog h1{
    font-size: 1.5rem;
    padding: 0 0 30px;
    font-weight: bold;

}
.recent-articles{
    width: 100%;
    min-height: 180px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 1px solid #d9d9d9;;
}
.recent-articles img{
    height: 180px;
    width: 180px;

}
.recent-articles-content{
    height: 180px;
    width: 220px;
    padding: 0 10px;
}
.recent-articles-content h2{
    font-size: 1.1.5rem;
    padding: 0 0 20px;
    color: #a9a9a9;
}
.recent-articles-content p{
    font-size: 1.06rem;
    line-height: 1.5rem;
    padding: 0 0px 20px;
}
.recent-articles-content p:hover{
    color: #f07e0b;
    cursor: pointer;
}
.recent-tags{
    width: 100%;
    padding: 20px 0;
}
.recent-tags h1{
    padding: 0 0 20px;
    font-weight: bold;

}
.recent-tags a{
    height: 40px;
    background: rgba(0,0,0,.05);
    font-size: 18px;
    padding:  10px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px 5px 0;
    color: #323131;
}
.recent-tags a:hover{
    background-color: #f07e0b;
    color: #fff;
    cursor: pointer;
}
.recent-tags a:hover>i{
    color: white;
}
.recent-tags a>i{
    color: #f07e0b;
}
.recent-tags h2{
    padding: 20px 0;
    font-size: 1.3rem;
    font-weight: bold;
}
.blog_content{
    width: 750px;
    padding: 0 20px ;
}
.blog_first{
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;;

}
.blog_content h1{
    font-size: 1.5rem;
    padding: 0 0 40px;
    font-weight: bold;
}
.blog_content h2{
    font-size: 1.09rem;
    padding: 0 0 30px;
}
.blog_content h3{
    display: inline-block;
    padding: 0 20px 20px 0px;
    border-right: 1px solid #d9d9d9;;
    color: #a9a9a9;

}
.blog_content h3:nth-child(4), .blog_content h3:nth-child(5){
    padding-left: 10px;
}
.blod_content_write {
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    margin: 10px 0 ;

}
.blod_content_write img{
    height: 150px;
    width: 150px;
    display: inline;
}
.blog-read{
    font-family:var(--heding-font);
    font-size: 25px;
    font-weight: bold;
    padding: 3px 15px !important;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    /* letter-spacing: 2px; */
}
.blog-read:hover{
    background-color: var(--full);
    color: white;
}
.blog-hr{
    margin-top: 20px;
}
.content_writer{
    width: 530px;
}
.content_writer p{
    line-height: 1.4rem;
    padding-bottom: 15px;
}
.content_writer span{
    font-size: 1.08rem;
    font-weight: bold;
}
.blog_content p{
    line-height: 1.4rem;
    padding-bottom: 15px;
}
.rec-tags{
    padding: 0 0 20px;
}
.blog_content button,.blog_second button{
    height: 50px;
    width: 200px;
    padding: 10px;
    /* background: url(/cdn/shop/t/2/assets/btn-bg.png?v=1510864…) right top no-repeat; */
}

.blog_second{
    padding: 20px 0;
}
.input_need{
    display: flex;
    gap: 19px;
    padding: 0 0 20px;
    flex-wrap: wrap;
}
.first_need input{
    margin: 5px 0 0;
    padding: 10px;
    height: 35px;
    width: 344px;
    outline: none;
    border: unset;
    font-size: 1.2rem;
}
.first_need input:focus,.blog_second textarea:focus{
    box-shadow: var(--shadow);
}
.blog_second textarea{
    width: 100%;
    height: 100px;
    margin: 5px 0 20px;
    outline: none;
    border: unset;
    font-size: 1.2rem;
}
@media screen and (min-width:300px) and (max-width:1400px) {
    .blog_container{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

    } 
}


@media screen and (min-width:300px) and (max-width:500px) {
    .overall-container{
        padding: 20px 10px;
    }
    .blod_content_write{
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .blog_container{
        gap: 0;
        justify-content: center;
        align-items: center;
    }
    .first_need input{
        width: 280px;
    }
    .serach_blog{
        width: 260px;
    }
    .blog_content{
        width: 260px;
    }
    .recent-articles{
        gap: 20px;
    }
    .first_need input{
        width: 100%;
    }
    .content_writer{
        width: 100%;
    }
    .input_need{
        flex-direction: column;
    }
    
    
}
@media screen and (min-width:500px) and (max-width:700px){
    .serach_blog{
        width: 300px;
    }
    .blog_content{
        width: 400px;
    }
}

@media screen and (min-width:500px) and (max-width:900px){
    .overall-container{
        padding: 20px 10px;
    }
    .serach_blog{
        width: 300px;
    }
    .blog_content{
        width: 300px;
    }
    .blod_content_write{
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .content_writer{
        width: 100%;
    }
    .first_need input{
        width: 100%;
    }
    .input_need{
        flex-direction: column;
    }

}
@media screen and (min-width:900px) and (max-width:1200px){
    .serach_blog{
        width: 300px;
    }
    .blog_content{
        width: 400px;
    }
    .blod_content_write{
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .content_writer{
        width: 400px;
    }
    .first_need input{
        width: 100%;
    }
    .input_need{
        flex-direction: column;
    }
    

}
@media screen and (min-width:1050px) and (max-width:1200px){

    .blog_content{
        width: 500px;
    }
}
