/*----------------------Universal selector-------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*-----------------------Root variable store----------------------*/
:root {
    --orange: #F07E0B;
    --white: #FFFFFF;
    --silver: #EEEEEE;
    --black: #323232;
}

/* --------------------Helping your pets get rid------------------- */
.container {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--silver);
}

.helping {
    width: 78%;
    background-color: var(--white);
    display: grid;
    place-items: center;

}

.helping h1 {
    color: var(--orange);
    font-size: 120px;
    font-family: 'Just Another Hand', cursive;
    padding: 60px 250px 40px;
    text-align: center;

}

.helping span {
    color: var(--white);
    background-image: url(./images/welcome_text_bg.avif);
    background-repeat: round;
    background-size: cover;
    padding: 0px 30px;
}

.helping button {
    color: var(--white);
    background-color: var(--black);
    padding: 10px 30px;
    font-size: 28px;
    border: none;
}

.helping button:hover {
    color: var(--white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}

.helping img {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    /* object-fit: cover; */
}


/*----------------------Dog supplies--------------------------*/
.dog {
    width: 78%;
    height: 600px;
    background-image: url(./images/homepage_bg_video_block_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.dog h1 {
    color: var(--white);
    font-family: 'Just Another Hand', cursive;
    font-size: 100px;
    padding: 100px 100px 30px;
    line-height: 110px;
}

.dog p {
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
    padding: 20px 100px;
    line-height: 30px;
}

.dog button {
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}

.dog button:hover {
    background-color: var(--orange);
}