/*----------------------Universal selector-------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*-----------------------Root variable store----------------------*/
:root {
    --orange: #F07E0B;
    --white: #FFFFFF;
    --silver: #EEEEEE;
    --black: #323232;
    --lightsilver: #A9A9A9;
    --gray: #615d5d;
}

/* --------------------Helping your pets get rid------------------- */
.container {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--silver);

}

.helping {
    width: 78%;
    background-color: var(--white);
    display: grid;
    place-items: center;

}

.helping h1 {
    color: var(--orange);
    font-size: 120px;
    font-family: 'Just Another Hand', cursive;
    padding: 60px 250px 40px;
    text-align: center;

}

.helping span {
    color: var(--white);
    background-image: url(./images/welcome_text_bg.avif);
    background-repeat: round;
    background-size: cover;
    padding: 0px 30px;
}

.helping button {
    color: var(--white);
    background-color: var(--black);
    padding: 10px 30px;
    font-size: 28px;
    border: none;
}

.helping button:hover {
    color: var(--white);
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}

.helping img {
    width: 100%;
    min-height: 100%;
    padding: 50px 0px;
    /* object-fit: cover; */
}


@media only screen and (max-width:830px) {
    .container {
        width: 100%;
        min-height: auto;
        display: grid;
        place-items: center;
        background-color: var(--silver);
        /* background-color: skyblue; */
        padding: 15px;
    }

    .helping {
        width: 95%;
        background-color: var(--white);
        /* background-color: skyblue; */
        display: grid;
        place-items: center;

    }

    .helping h1 {
        color: var(--orange);
        font-size: 50px;
        font-family: 'Just Another Hand', cursive;
        padding: 30px 35px;
        text-align: center;

    }

    .helping img {
        width: 100%;
        min-height: 100%;
        /* padding:30px; */
        /* object-fit: cover; */
    }

    .helping button {
        color: var(--white);
        background-color: var(--black);
        padding: 10px 15px;
        font-size: 15px;
        border: none;
    }
}

@media only screen and (min-width:830px) and (max-width:1200px) {
    .container {
        /* width: 100%; */
        min-height: auto;
        display: grid;
        place-items: center;
        background-color: var(--silver);
        /* background-color: skyblue; */
        padding: 40px;

    }

    .helping {
        width: 90%;
        background-color: var(--white);
        /* background-color: skyblue; */
        display: grid;
        place-items: center;


    }

    .helping h1 {
        color: var(--orange);
        font-size: 90px;
        font-family: 'Just Another Hand', cursive;
        padding: 60px 90px;
        text-align: center;

    }

    .helping img {
        width: 100%;
        height: 100%;
        /* padding:30px; */
        /* object-fit: cover; */
    }

    .helping button {
        color: var(--white);
        background-color: var(--black);
        padding: 10px 15px;
        font-size: 25px;
        border: none;
    }
}

/*----------------------4 layout gallery--------------------------*/

.gallery-overall {
    width: 100%;
    /* background-color: skyblue; */
    display: grid;
    place-items: center;

}


.gallery {
    width: 78%;
    min-height: 650px;
    background-color: var(--silver);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    padding: 60px;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */

}

.first,
.third {

    height: 110vh;
    /* border:1px solid black; */
    background-image: url(./images/custom_showcase1_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;

}

.first:hover,
.third:hover,
.one:hover,
.two:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.second {
    width: 100%;
    min-height: 650px;
    /* border:1px solid black; */
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    gap: 60px;
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:70px; */
    background-color: var(--silver);
}

.one {

    min-height: 350px;
    background-color: gray;
    background-image: url(./images/custom_showcase2_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;

}

.one p {
    font-size: 60px;
    font-family: 'Just Another Hand', cursive;
    padding: 30px;
    line-height: 60px;

}

.one button {
    background-color: var(--black);
    color: var(--white);
    padding: 8px 20px;
    font-size: 20px;
    border: none;
}

.one button:hover {
    background-color: var(--orange);
}


.two {

    min-height: 350px;
    background-color: #F07E0B;
    background-image: url(./images/custom_showcase3_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
}

.two p {
    font-size: 60px;
    font-family: 'Just Another Hand', cursive;
    padding: 25px 30px 5px;
    line-height: 60px;

}

.two button {
    background-color: var(--black);
    color: var(--white);
    padding: 8px 20px;
    font-size: 20px;
    border: none;
}

.two button:hover {
    background-color: var(--orange);
}


.third {
    background-image: url(./images/custom_showcase4_img.webp);
}

.first h1,
.third h1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 90px;
    padding: 50px 70px 20px;
    line-height: 75px;
}


.first span,
.third span {
    font-size: 80px;
    padding: 10px 0px;
}

.first button,
.third button {
    font-size: 20px;
    padding: 8px 15px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.first button:hover,
.third button:hover {
    background-color: var(--orange);
}




@media only screen and (max-width:500px) {
    .gallery-overall {
        width: 100%;
        /* background-color: skyblue; */
        display: grid;
        place-items: center;


    }


    .gallery {
        width: 100%;
        min-height: 650px;
        background-color: var(--silver);
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        padding: 20px;
    }

    .first h1,
    .third h1 {
        font-family: 'Just Another Hand', cursive;
        font-size: 50px;
        padding: 30px;
        line-height: 60px;
    }

    .one button,
    .two button,
    .first button,
    .third button {
        background-color: var(--black);
        color: var(--white);
        padding: 8px 20px;
        font-size: 16px;
        border: none;
    }

    .second {
        width: 100%;
        min-height: 650px;
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        gap: 20px;
        background-color: var(--silver);
    }

}


@media only screen and (min-width:500px) and (max-width:1248px) {
    .gallery-overall {
        width: 100%;
        min-height: 650px;
        /* background-color: skyblue; */
        display: grid;
        place-items: center;
        /* padding: 50px; */


    }


    .gallery {
        width: 100%;
        min-height: 500px;
        background-color: var(--silver);
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        padding: 50px;
    }

    .first h1,
    .third h1 {
        font-family: 'Just Another Hand', cursive;
        font-size: 60px;
        padding: 50px 35px;
        line-height: 70px;
    }

    .one button,
    .two button,
    .first button,
    .third button {
        background-color: var(--black);
        color: var(--white);
        padding: 8px 20px;
        font-size: 20px;
        border: none;
    }

    .second {
        width: 100%;
        min-height: auto;
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        gap: 30px;
        background-color: var(--silver);
    }

}





/*----------------------9 logo--------------------------*/
.logo-overall {
    width: 100%;
    min-height: 200px;
    /* background-color: skyblue; */
    display: grid;
    place-items: center;
    /* padding:20px 0px; */

}

.logo {
    width: 100%;
    min-height: 200px;
    background-color: var(--silver);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;



}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    width: 130px;
    height: 100px;
}

.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img,
.box6 img,
.box7 img,
.box8 img,
.box9 img {
    width: 100%;
    height: 100%;
}

.box img:hover {
    cursor: pointer;
    filter: opacity(30%);
}



/*----------------------Dog supplies--------------------------*/
.dog-overall {
    min-height: 500px;
    display: grid;
    place-items: center;
}

.dog {
    width: 78%;
    min-height: 600px;
    background-image: url(./images/homepage_bg_video_block_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.dog h1 {
    color: var(--white);
    font-family: 'Just Another Hand', cursive;
    font-size: 100px;
    padding: 100px 100px 30px;
    line-height: 110px;
}

.dog p {
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
    padding: 20px 100px;
    line-height: 30px;
}

.dog button {
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}

.dog button:hover {
    background-color: var(--orange);
}

/* mobile view */
@media only screen and (max-width:500px) {
    .dog-overall {
        min-height: 500px;
        display: grid;
        place-items: center;

    }

    .dog {
        width: 100%;
        min-height: 380px;
        background-image: url(./images/homepage_bg_video_block_img.webp);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    .dog h1 {
        color: var(--white);
        font-family: 'Just Another Hand', cursive;
        font-size: 50px;
        padding: 30px 25px;
        line-height: 45px;
    }

    .dog p {
        color: var(--white);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 25px 20px;
        line-height: 28px;
    }

    .dog button {
        font-size: 16px;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
}

/* Tab view */
@media only screen and (min-width:500px) and (max-width:1248px) {
    .dog-overall {
        min-height: 500px;
        display: grid;
        place-items: center;

    }

    .dog {
        width: 100%;
        min-height: 380px;
        background-image: url(./images/homepage_bg_video_block_img.webp);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    .dog h1 {
        color: var(--white);
        font-family: 'Just Another Hand', cursive;
        font-size: 80px;
        padding: 60px 100px;
        line-height: 80px;
    }

    .dog p {
        color: var(--white);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 23px;
        padding: 0px 35px 40px;
        line-height: 40px;
    }

    .dog button {
        font-size: 18px;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
}

/* --------------Featured products------------------ */
.featured-overall {
    min-height: 100px;
    display: grid;
    place-items: center;
}

.arrow {
    width: 100%;
    min-height: 100px;
    background-color: var(--silver);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow h3 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);

}

.fa-angle-left,
.fa-angle-right {
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
    color: var(--orange);
}


@media only screen and (max-width:500px) {
    .arrow {
        width: 100%;
        min-height: 100px;
        background-color: var(--silver);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrow h3 {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--black);
        line-height: 27px;

    }

    .fa-angle-left,
    .fa-angle-right {
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width:500px) and (max-width:800px) {
    .arrow {
        width: 100%;
        min-height: 100px;
        background-color: var(--silver);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrow h3 {
        font-size: 23px;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--black);
        line-height: 27px;

    }

    .fa-angle-left,
    .fa-angle-right {
        font-size: 23px;
        cursor: pointer;
        font-weight: bold;
        padding-left: 30px;
        padding-right: 30px;
    }
}


/*---------------------Eight card product---------------------------*/
.eightcard {
    width: 78%;
    background-color: var(--silver);
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.cardone,
.cardtwo,
.cardthree,
.cardfour,
.cardfive,
.cardsix,
.cardseven,
.cardeight {
    /* width: 23%; */
    height: 550px;
    /* border: 1px solid black; */
    font-family: arial;
}

.imglogo {
    width: 100%;
    height: 250px;
    background-color: var(--white);
    object-fit: cover;
}

.imglogo p {
    font-size: 20px;
    padding: 20px 0px;
    line-height: 30px;


}

.imglogo p:hover {
    color: var(--orange);
    cursor: pointer;

}

.imglogo h3 {
    font-size: 27px;
}

.imglogo del {
    color: var(--lightsilver);
}

.imglogo>a>h2 {
    padding: 20px 0px;
    color: var(--black);
    cursor: pointer;
}

.imglogo h2:hover {
    color: var(--orange);
}

.imglogo h4 {
    color: var(--orange);
}

.imglogo h4:hover {
    color: var(--black);
}


/* --------------Free shipping on order over------------------ */
.cat-overall {
    width: 100%;
    min-height: 500px;
    display: grid;
    place-items: center;

}

.cat {
    width: 80%;
    min-height: 550px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;

}

.leftside {

    min-height: 150px;
    /* border:1px solid black; */


}

.leftside h1 {
    font-size: 90px;
    font-family: 'Just Another Hand', cursive;
    color: var(--black);
    line-height: 95px;
    text-align: center;
    /* padding:130px 20px; */


}

.leftside span {
    color: var(--lightsilver);
}

.rightside {

    min-height: 200px;
    display: grid;
    place-items: center;
    gap: 20px;
    /* border:1px solid rgb(183, 25, 25); */


}

.rightside img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

/* mobile view */
@media only screen and (max-width:500px) {

    .cat-overall {
        width: 100%;
        min-height: auto;
        background-color: skyblue;


    }

    .cat {
        width: 100%;
        min-height: auto;
        background-color: var(--white);
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        gap: 20px;
        padding: 20px;

    }

    .leftside {
        width: 100%;
        min-height: 150px;
        padding: 20px;
        text-align: center;
        /* border:1px solid black; */

    }

    .leftside h1 {
        font-size: 40px;
        font-family: 'Just Another Hand', cursive;
        color: var(--black);
        line-height: 45px;
    }

    .rightside {
        width: 100%;
        min-height: 200px;
        display: grid;
        place-items: center;
        /* border:1px solid rgb(146, 47, 47); */


    }

    .rightside img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;


    }
}


/* Tab view */
@media only screen and (min-width:500px) and (max-width:1200px) {

    .cat-overall {
        width: 100%;
        min-height: 450px;
        background-color: skyblue;

    }

    .cat {
        width: 100%;
        min-height: 450px;
        background-color: var(--white);
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        gap: 50px;
        padding: 50px;

    }

    .leftside {
        width: 100%;
        min-height: 150px;
        padding: 20px;
        text-align: center;
        /* border:1px solid black; */

    }

    .leftside h1 {
        font-size: 70px;
        font-family: 'Just Another Hand', cursive;
        color: var(--black);
        line-height: 65px;
        padding: 20px 70px;
    }

    .rightside {
        width: 100%;
        min-height: 200px;
        display: grid;
        place-items: center;
        /* border:1px solid rgb(146, 47, 47); */


    }

    .rightside img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;


    }
}



/*--------------------Footer Area-------------------------*/
.footeroverall {
    width: 100%;
    min-height: 600px;
    background-color: var(--silver);
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ftcontent {
    width: 78%;
    min-height: 500px;
    border: 3px solid var(--lightsilver);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
}



/*-------information-------*/

.info,
.cata,
.acc,
.cont,
.face {
    width: 100%;
    min-height: 500px;
    /* border: 1px solid rgb(101, 32, 32); */

}



.info h3,
.cata h3,
.acc h3,
.cont h3,
.face h3 {
    font-size: 30px;
    padding: 40px 0px;

}

.info a:nth-child(2),
.info a:nth-child(3),
.info a:nth-child(4),
.info a:nth-child(5),
.info a:nth-child(6) {
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: var(--orange);
}

.info a:nth-child(2):hover,
.info a:nth-child(3):hover,
.info a:nth-child(4):hover,
.info a:nth-child(5):hover,
.info a:nth-child(6):hover {
    color: var(--gray);
}

/*-------Catalog-------*/
.cata a:nth-child(2),
.cata a:nth-child(3),
.cata a:nth-child(4),
.cata a:nth-child(5),
.cata a:nth-child(6),
.cata a:nth-child(7),
.cata a:nth-child(8),
.cata a:nth-child(9),
.cata a:nth-child(10),
.cata a:nth-child(11) {
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: var(--orange);
}

.cata a:nth-child(2):hover,
.cata a:nth-child(3):hover,
.cata a:nth-child(4):hover,
.cata a:nth-child(5):hover,
.cata a:nth-child(6):hover,
.cata a:nth-child(7):hover,
.cata a:nth-child(8):hover,
.cata a:nth-child(9):hover,
.cata a:nth-child(10):hover,
.cata a:nth-child(11):hover {
    color: var(--gray);
}

/*--------My account---------*/
.acc a:nth-child(2),
.acc a:nth-child(3),
.acc a:nth-child(4) {
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: var(--orange);
}

.acc a:nth-child(2):hover,
.acc a:nth-child(3):hover,
.acc a:nth-child(4):hover {
    color: var(--gray);
}

/*-------Contacts-------*/
/* .cont {
    width: 30%;
    height: 500px;

} */

.cont h4 {
    font-size: 20px;
    line-height: 30px;
}

.cont h5 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 8px;
}

.cont h1 {
    font-family: 'Courier New', Courier, monospace;
}

.cont h1:hover {
    color: var(--orange);
    cursor: pointer;
}


/* mobile view */
@media only screen and (max-width:500px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        gap: 20px;
        padding: 20px;
        border-left: none;
        border-right: none;
        border-bottom: none;

    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 150px;
        /* border: 1px solid black; */


    }
}

/* mobile x-large */
@media only screen and (min-width:500px) and (max-width:715px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto auto;
        gap: 40px;
        padding: 40px;
        border-left: none;
        border-right: none;
        border-bottom: none;

    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 500px;
        /* border: 1px solid black; */


    }
}

/* tab view */
@media only screen and (min-width:715px) and (max-width:900px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto auto auto;
        gap: 40px;
        padding: 40px;
        border-left: none;
        border-right: none;
        border-bottom: none;

    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 500px;
        /* border: 1px solid black; */


    }
}

/* laptop view */
@media only screen and (min-width:900px) and (max-width:1250px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto auto auto auto;
        gap: 40px;
        padding: 40px;
        border-left: none;
        border-right: none;
        border-bottom: none;

    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 500px;
        /* border: 1px solid black; */


    }
}





/*-------Footer last area-------*/
.right {
    width: 100%;
    min-height: 100px;
    background-color: var(--silver);
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.right h4 {
    font-size: 18px;
    color: var(--gray);

}

.fa-angle-up {
    background-color: var(--orange);
    padding: 8px 10px;
    color: var(--white);
    font-size: 20px;
}

.fa-angle-up:hover {
    background-color: var(--black);
}

@media only screen and (max-width:500px) {
    .right {
        width: 100%;
        min-height: 100px;
        background-color: var(--silver);
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
        place-items: center;
        gap: 20px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .right h4 {
        font-size: 14px;
        color: var(--gray);
        text-align: center;


    }

    .fa-angle-up {
        background-color: var(--orange);
        padding: 8px 10px;
        color: var(--white);
        font-size: 16px;
    }
}

@media only screen and (min-width:500px) and (max-width:965px) {
    .right {
        width: 100%;
        min-height: 100px;
        background-color: var(--silver);
        display: grid;
        grid-template-columns: auto;
        padding: 40px;
        place-items: center;
        gap: 20px;
        line-height: 28px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .right h4 {
        font-size: 17px;
        color: var(--gray);
        text-align: center;


    }

    .fa-angle-up {
        background-color: var(--orange);
        padding: 8px 10px;
        color: var(--white);
        font-size: 22px;
    }
}