/* heading fonts */
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
/* content fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
}
h1,h2,h3,h4,h5,h6{
    font-family:var(--heding-font);
}
p,span{
    font-family:var(--content-font);
}
:root{
    --heding-font:'Just Another Hand', cursive;
    --content-font:'Merriweather Sans', sans-serif;
    --primary-color:rgb(240,126,11);
    --secondry-color:rgb(155,155,155);
    --third-color:rgb(238, 238, 238);
    --dark-color:rgb(50,48,49);
    --light-color:rgb(255, 255, 255);
}
body{
    background-color:var(--dark-color);
}
html{
    font-size:16px;
}
.main-container{
    padding:0 2rem;
    background-color:var(--third-color);
}

/* this is the content above navigation  bar */
.topbar-1{
    background-color:var(--light-color);
    padding:1rem 4rem;
    display:flex;
    justify-content:space-between;
}
.top-nav-left{
    width:50%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
}

.group-span span{
    display:inline-block;
    color:var(--primary-color);
    padding:5px 10px;
    border-right:2px solid var(--dark-color);
}
.group-span .checkout{
    border-right:unset;
}
.group-span span:hover{
    cursor:pointer;
    color:var(--secondry-color);
}
/* style for dropdown menu ,it holding dropdown menu */
.select-container{
    width:15%;
}
.select-container #payment-methods{
    width:100%;
    color:var(--primary-color);
    outline:none;
    font-weight:bold;
    border:none;
    display:flex;
    justify-content:center;
    text-align:center;
}
#payment-methods option{
    background-color:var(--light-color);
    font-weight:bold;
}
#payment-methods option:hover{
    color:var(--secondry-color);
}
/* style for search bar in top bar */
.search-right{
    width:40%;
    display:inline-flex;
    justify-content:flex-start;
}
.search-holder{
    width:60%;
    position:relative;
}
.search-holder input[type="search"]{
    width:100%;
    padding:0.5rem 0;
    outline:none;
    border:none;
    border-bottom:3px solid var(--dark-color);
    padding-right:40px;
}
.search-holder input[type="search"]::placeholder{
    font-weight:bold;
}
.search-holder i{
    position:absolute;
    font-size:1.5em;
    top:0;
    right:20px;
    
}
/* top bar 2 styling */
.topbar-2{
    background-color:var(--third-color);
    display:flex;
    padding:2rem 0;
    justify-content:space-between;
}
.right-content{
    width:50%;
    display:inline-flex;
    align-items:center;
    gap:1rem;
}
.right-content h1{
    color:var(--light-color);
    background-color:var(--dark-color);
    font-size:3rem;
    padding:5px;
}
.right-content p{
    color:var(--secondry-color);
    
}
.left-content{
    width:50%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 3rem;
}
.left-content p{
    font-size:1.5rem;
    color:var(--primary-color);
}
.left-content p .fnum{
    color:var(--secondry-color);
}
.left-content i{
    padding-right:0.5rem;
    font-size:3rem;
}
.left-content .cart-text span{
    font-size:1rem; 
}

/* style for navigation bar */
.navigation-bar{
     background-color:var(--primary-color);
     padding:2rem 4rem;
}
.navigation-bar .main-nav-list{
    display: flex;
}
.navigation-bar .main-nav-list li{
    font-family:var(--content-font);
    font-size: 1.2rem;
    border-right:1px solid var(--light-color);
    padding:0 2.5rem;
}
.navigation-bar .main-nav-list .contactUS{
    border:unset;
}
.navigation-bar .main-nav-list li a{
    padding:5px;
    text-decoration:none;
    color:var(--light-color);
    
}
.active{
    background-color:var(--light-color);
    color: var(--primary-color) !important;;
    border-radius:5px;
}

.navigation-bar .main-nav-list li:hover a{
    border-radius:5px;
    color:var(--primary-color);
    background-color:var(--light-color);
    transition:all 1s;
}

/* responsive code and media query part */

@media only screen and (max-width:1071px){
    html{
        font-size:14px;
    }
    .topbar-1{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:20px;
    }
    .top-nav-left{
        width:50%;
        flex-direction:row-reverse;
    }
    .search-right{
        width:60%;
    }
    .search-holder{
        width:100%;
    }
}
@media only screen and (max-width:775px){
    .top-nav-left{
        width:60%;
    }
    .search-right{
        width:70%;
    }
}
@media only screen and (max-width:665px){
    .top-nav-left{
        width:70%;
    }
    .search-right{
        width:80%;
    }
}
@media only screen and (max-width:586px){
    .top-nav-left{
        width:80%;
    }
    .search-right{
        width:90%;
    }
}
@media only screen and (max-width:526px){
    .top-nav-left{
        width:90%;
    }
    .search-right{
        width:100%;
    }
}
@media only screen and (max-width:480px){
    .top-nav-left{
        flex-direction:column;
        width:100%;
        gap:20px;
    }
    .select-container{
        width:40%;
    }
   
}
@media only screen and (max-width:394px){
    html{
        font-size:12px;
       }
    .top-nav-left .group-span span{
        padding:2px;
    }
}
@media only screen and (max-width:320px){
   html{
    font-size:10px;
   }
}

/* media query for topbar 2 */
@media only screen and (min-width:991px) and (max-width:1060px){
    .right-content{
        width:35%;
    }
    .left-content{
        width:65%;
    }
}
@media only screen and (max-width:768px){
    .right-content{
        width:40%;
    }
    .left-content{
        width:60%;
    }
}
@media only screen and (max-width:720px){
    .topbar-2{
        flex-direction:column;
    }
    .right-content{
        display: flex;
        width:100%;
        justify-content: center;
        gap:2rem;

    }
    .left-content{
        width:100%;
    }
}
@media only screen and (max-width:460px){
   
    .left-content{
        flex-direction:column-reverse;
        padding:1rem 0;
        gap:2rem;
    }
}
.navigation-title{
display: none;
}
.navigation-bar .main-nav-label,.main-nav-label i,.navigation-bar #main-nav-check{
    display: none;
}
/* media query for navigation bar */

@media only screen and (max-width:945px){
    html{
        font-size:12px;
    }
}
@media only screen and (max-width:820px){
    .navigation-bar{
        position:relative;
        display: flex;
        justify-content:space-between;
        align-items:center;
        width: 100%;
    }
    .nav-items{
        padding:10px 0;
        transform-origin:top;
        transform:scaleY(0);
        overflow: hidden;
        transition:0.5s linear;
    }
    .nav-items{
        background-color:var(--light-color);
        position:absolute;
        top:87px;
        width:100%;
        left:0;
    }
    .nav-items .main-nav-list{
        flex-direction: column;
        gap:15px;
    }
    .nav-items .main-nav-list li a{
        font-size:1.5rem;
        color:var(--dark-color);
    }
    
    .navigation-title{
        display:inline-block;
        font-family: var(--content-font) !important;
        font-size:2.5rem;
        color:var(--third-color);
        }
        .navigation-bar .fa-plus,.navigation-bar .fa-minus{
            padding:3px;
            background-color: var(--light-color);
            font-weight: bold;
            font-size:20px;
        }
        .navigation-bar .fa-plus,.navigation-bar .main-nav-label{
            display:inline-block;
        }
        .navigation-bar .fa-minus{
            display:none;
        }
        .main-nav-check-btn:checked~.nav-items{
                transform:scaleY(1);
                 overflow: unset;
                 transition:0.5s linear;
        }
        .main-nav-check-btn:checked~.main-nav-label .fa-minus{
              display:inline-block;
        }
        .main-nav-check-btn:checked+.main-nav-label .fa-plus{
            display:none;
      }
        
}
@media only screen and (min-width:1072px) and (max-width:1135px){
    .nav-items .main-nav-list li a{
        font-size:1.1rem;
    }
}
@media only screen and (min-width:1072px) and (max-width:1103px){
    .nav-items .main-nav-list li a{
        font-size:1rem;
    }
}
@media only screen and (min-width:946px) and (max-width:1001px){
    .nav-items .main-nav-list li a{
        font-size:0.9rem;
    }
}
@media only screen and (min-width:821px) and (max-width:867px){
    .nav-items .main-nav-list li a{
        font-size:0.8rem;
    }
}
/* very important code */

/* css code for dropdown menus in navigation bar */
.main-nav-list #product-sub-menu{
    width:100%;
    background-color:var(--light-color);
    transform:scaleY(0);
    transform-origin: top;
    transition:linear 0.5s;
}

.main-nav-list{
    position:relative;
}
.main-nav-list #product-sub-menu{
    position: absolute;
    top:56px;
    background-color:var(--light-color);
    left:0;
}
#product-sub-menu  li{
    padding:10px 0px 10px 0px;
}

.product-main-menu:hover~#org-content-default #product-sub-menu{
    transform:scaleY(1);
}
#product-sub-menu label{
    display:inline-block;
    width:100%;
    font-weight:bold;
}
#product-sub-menu span{
    display:block;
    padding:8px 0;
}

#product-sub-menu {
 display: flex;
 gap:1.5rem;
}

#product-sub-menu li{
    width:30%;
}


/* further use */
#product-sub-menu  input,#product-sub-menu .product-sub-menu-label i{
    display:none;
}

.dog-clothes-section h1{
    color:var(--primary-color);
    font-size:2.5rem;
}
.dog-clothes-section p{
  padding:10px;
  display:inline-block;
  color:var(--light-color);
  background-color:var(--dark-color);
  border-radius:5px;
}
.dog-clothes-section p:hover{
    transition:linear 0.5s;
    display:inline-block;
    background-color:var(--primary-color);
    color:var(--light-color);
}
@media only screen and (max-width:820px){
    .product-main-menu:hover~#org-content-default #product-sub-menu{
        display: none;
    }
    #org-content-default #product-sub-menu{
        display:none;
    }
}
/* i need to hide display product label in main navigation bar and hide symbols in main navigation bar */
#main-nav-product{
    display: inline-block !important;
}
#main-nav-product i {
    display:none;
}
@media only screen and (max-width:820px){
    #main-nav-product i {
        display:inline;
        background-color:gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main-nav-product a{
        background-color:gray;
        color: var(--dark-color) !important;
    }
    #main-nav-product .fa-minus{
        display:none;
    }
    #main-nav-product{
        display:flex !important;
        background-color:grey;
        width:100%;
        justify-content:space-between;
    } 
    #product:checked~#main-nav-product a{
           color:var(--primary-color) !important;
           background-color: var(--third-color);
           transition: linear 0.5s;
    }
    #product:checked~#main-nav-product{
        background-color: var(--third-color);
        transition: linear 0.5s;
    }
}
.product-main-menu input{
    display:none!important;
}
.product-main-menu input:checked~#main-nav-product .fa-minus{
     display:flex;
}
.product-main-menu input:checked~#main-nav-product .fa-plus{
    display:none;
}
/* small device menu code */
 #collections-smalldevice{
    display:none;
}
@media only screen and (max-width:820px) {
    #collections-smalldevice{
        display:block;
    }
    .collection1smalldevice-label,.collection2smalldevice-label{
        background-color:var(--third-color);
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-size:18px;
        padding-left:1.5rem;
    }
    .collection1smalldevice-label .fa-plus,.collection2smalldevice-label .fa-minus{
        background-color:gray;
    }
    .smalldevicemenulist{
        display:flex;
        flex-direction:column;
        gap:1rem;
    }
    
    /* this code to viw collection1 and collection2 */
    .collections-smalldevice{
        max-height:0;
        overflow: hidden;
    }
    .collectionmenu-smmalldevice{
        padding:0 !important;
        height:auto;
        width:100%;
        margin:0 !important;
        padding:10px 0!important;
        display:flex;
        justify-content:center;
        flex-direction: column;
        gap:10px;
    }

    #collections-smalldevice{
        max-height: 0;
        overflow:hidden;
        transform:scaleY(0);
        transform-origin: top;
        transition:0.5s linear;
    }
    .collectionmenu-smmalldevice-listitems{
        border-right:unset !important;
        padding:0 !important;
    }
    #product:checked~#collections-smalldevice{
        max-height:500px;
        overflow:unset;
        transform:scaleY(1);
    }
    .smalldevicemenulist{
        max-height:0;
        overflow: hidden;
        transition:0.5s linear;
        transform:scaleY(0);
        transform-origin: top;
    }

    #collection1smalldevice:checked~label .fa-plus{
        display:none !important;
 
     }
     #collection1smalldevice:checked~label .fa-minus{
         display:flex;
      }
      #collection1smalldevice:checked~label .fa-minus{
        background-color:gray;
      }
      #collection1smalldevice:checked~.smalldevicemenulist{
         max-height:200px;
         overflow:unset;
      
         padding:1rem 2.5rem;
         color:var(--dark-color);
         font-size:16px;
         transform:scaleY(1);
      }
      #collection2smalldevice~label .fa-minus,#collection2smalldevice~label .fa-plus{
        background-color: gray !important;
      }
      
      
    #collection2smalldevice:checked~label .fa-plus{
       display:none !important;
    }
    #collection2smalldevice:checked~label .fa-minus{
        display:flex;
     }

     #collection2smalldevice:checked~.smalldevicemenulist{
        max-height:200px;
        overflow:unset;
        padding:1rem 2.5rem;
        color:var(--dark-color);
        font-size:16px;
        transform:scaleY(1);
     }

     .smalldevicemenulist span:hover{
         cursor:pointer;
         color:var(--primary-color);
         transition:linear 0.5s;
    }
   
}
/* styles for product sections */
.sub-nav{
    background-color:var(--light-color);
    padding:1rem 1rem;
    margin:1rem 0;
}
.sub-nav span{
    font-size:1.3rem;
}
.collection-title{
    font-size:1.8rem;
    padding:1rem 0;
}
.equi-img-container{
    width:300px;
    background-color:var(--light-color);
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.equipments-container{
    width:300px;
    background-color:rgba(0,0,0,0.01);
}
.pet-equipment{
    font-size:1.3rem;
    color:var(--primary-color);
    padding:1rem 0;
}
.pet-equipment:hover{
    transition:linear 0.5s;
    cursor:pointer;
    color:var(--dark-color);
}
.product-count{
    padding-bottom:0.5rem;
    color:gray;
    font-size:1.3rem;
}
.product-description{
    font-size: 1.2rem;
    line-height:32px;
}
.product-link a{
    color:var(--primary-color);
    font-size:1.2rem;
    display:inline-block;
    padding:0.5rem 0;
    font-weight: bold;
}
.product-link a:hover{
    transition:linear 0.5s;
    cursor:pointer;
    color:var(--dark-color); 
}
.products-list{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    justify-content:center;
    align-items:center;
}
@media only screen and (max-width:997px){
    .products-list{
     column-gap:10rem;   
    }
}
@media only screen and (max-width:767px){
    .products-list{
     column-gap:5rem;   
    }
}
@media only screen and (max-width:707px){
    .products-list{
     column-gap:2rem;   
    }
}
@media only screen and (max-width:671px){
    .products-list .equipments-container{
        width:80%
    }
    .products-list .equipments-container .equi-img-container{
        width:100%;
        overflow: hidden;
    }
}

/* footer css code */
/*--------------------Footer Area-------------------------*/
.footeroverall {
    width: 100%;
    min-height: 600px;
    display: grid;
    place-items: center;
    h1,h2,h3,h4,h5,h6{
        font-family:unset;
    }
    font-family: Arial, Helvetica, sans-serif;
}

.ftcontent {
    width: 78%;
    min-height: 500px;
    border: 3px solid #A9A9A9;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/*-------information-------*/

.info,
.cata,
.acc,
.cont,
.face {
    width: 100%;
    min-height: 500px;
}

.info h3,
.cata h3,
.acc h3,
.cont h3,
.face h3 {
    font-size: 30px;
    padding: 40px 0px;

}

.info a:nth-child(2),
.info a:nth-child(3),
.info a:nth-child(4),
.info a:nth-child(5),
.info a:nth-child(6) {
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: var(--primary-color);
}

.info a:nth-child(2):hover,
.info a:nth-child(3):hover,
.info a:nth-child(4):hover,
.info a:nth-child(5):hover,
.info a:nth-child(6):hover {
    color:#615d5d;
}

/*-------Catalog-------*/
.cata a:nth-child(2),
.cata a:nth-child(3),
.cata a:nth-child(4),
.cata a:nth-child(5),
.cata a:nth-child(6),
.cata a:nth-child(7),
.cata a:nth-child(8),
.cata a:nth-child(9),
.cata a:nth-child(10),
.cata a:nth-child(11) {
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: var(--primary-color);
}

.cata a:nth-child(2):hover,
.cata a:nth-child(3):hover,
.cata a:nth-child(4):hover,
.cata a:nth-child(5):hover,
.cata a:nth-child(6):hover,
.cata a:nth-child(7):hover,
.cata a:nth-child(8):hover,
.cata a:nth-child(9):hover,
.cata a:nth-child(10):hover,
.cata a:nth-child(11):hover {
    color:#615d5d;
}

/*--------My account---------*/
.acc a:nth-child(2),
.acc a:nth-child(3),
.acc a:nth-child(4) {
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: var(--orange);
}

.acc a:nth-child(2):hover,
.acc a:nth-child(3):hover,
.acc a:nth-child(4):hover {
    color: var(--gray);
}

.cont h4 {
    font-size: 20px;
    line-height: 30px;
}

.cont h5 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 8px;
}

.cont h1 {
    font-family: 'Courier New', Courier, monospace;
}

.cont h1:hover {
    color: var(--orange);
    cursor: pointer;
}

/* mobile view */
@media only screen and (max-width:500px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        gap: 20px;
        padding: 20px;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 150px;
    }
}

/* mobile x-large */
@media only screen and (min-width:500px) and (max-width:715px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto auto;
        gap: 40px;
        padding: 40px;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 500px;
    }
}

/* tab view */
@media only screen and (min-width:715px) and (max-width:900px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto auto auto;
        gap: 40px;
        padding: 40px;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 500px;
    }
}

/* laptop view */
@media only screen and (min-width:900px) and (max-width:1250px) {
    .footeroverall {
        width: 100%;
        min-height: 300px;
        background-color: var(--silver);
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ftcontent {
        width: 100%;
        border: 3px solid var(--lightsilver);
        display: grid;
        place-items: center;
        grid-template-columns: auto auto auto auto;
        gap: 40px;
        padding: 40px;
        border-left: none;
        border-right: none;
        border-bottom: none;

    }

    .info,
    .cata,
    .acc,
    .cont,
    .face {
        width: 100%;
        min-height: 500px;
    }
}

/*-------Footer last area-------*/
.right {
    width: 100%;
    min-height: 100px;
    background-color: var(--silver);
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.right h4 {
    font-size: 18px;
    color: var(--gray);

}

.fa-angle-up {
    background-color: var(--primary-color);
    padding: 8px 10px;
    color: var(--white);
    font-size: 20px;
}

.fa-angle-up:hover {
    background-color: var(--dark-color);
}

@media only screen and (max-width:500px) {
    .right {
        width: 100%;
        min-height: 100px;
        background-color: var(--silver);
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
        place-items: center;
        gap: 20px;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .right p {
        font-size: 14px;
        color:#615d5d;
        text-align: center;
    }

    .fa-angle-up {
        background-color:var(--primary-color);
        padding: 8px 10px;
        color: var(--white);
        font-size: 16px;
    }
}

@media only screen and (min-width:500px) and (max-width:965px) {
    .right {
        width: 100%;
        min-height: 100px;
        background-color: var(--silver);
        display: grid;
        grid-template-columns: auto;
        padding: 40px;
        place-items: center;
        gap: 20px;
        line-height: 28px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .right h4 {
        font-size: 17px;
        color: var(--gray);
        text-align: center;


    }

    .fa-angle-up {
        background-color:var(--primary-color);
        padding: 8px 10px;
        color: var(--white);
        font-size: 22px;
    }
}
